<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gallery</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="openMenu()">
            <ion-icon name="camera"></ion-icon>
            <!-- <ion-button (click)="openMenu()"> -->
        </ion-fab-button>
    </ion-fab>


    <ion-grid>
        <ion-row size="6" *ngFor="let img of imageObj">
            <!-- <ion-col size="6" *ngFor="let img of imageObj"> -->
            <!-- <ion-col size="4" *ngFor="let img of imageObj">
                    <img [src]="img"> -->
            <!-- <ion-item *ngFor="let img of imageObj"> -->
            <img [src]="img" />
            <!-- </ion-item> -->
            <!-- </ion-col> -->
            <!-- </ion-col> -->
        </ion-row>
    </ion-grid>

</ion-content>